
.Detail-form-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  // width: 100%;
  flex: 1;
  // height: inherit;
}

.customer-style {
  display: flex;
  gap: 10px; /* กำหนดระยะห่างระหว่างฟอร์มฟิลด์ */
}

.customer-deteil-width {

  flex: 1; /* ทำให้ฟอร์มฟิลด์ขยายเต็มความกว้างของพื้นที่ที่สร้างขึ้น */
}
.select-style{
  display: flex;
  gap: 16px;
}


td {
  padding-right: 10px;
}

.example-radio {
  display: flex;
  align-content: center;
  align-items: center;
  // height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-input-quantity {
  width: 100px;
}

.example-section {
  display: flex;
  flex-direction: column;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}



