// .content{
//   padding-top: 10px;
// }

// .row{
//   display: flex;
//   gap: 10px;
//   width: 50%;
//   // height: 50%;
// }

// .mat-mdc-text-field-wrapper {
//   width: 20%;
// }
// .mat-input-element {
//   font-size: 16px;
//   padding: 8px;
// }
// .example-container mat-form-field + mat-form-field {
//   margin-left: 8px;
// }

.Detail-form-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  // height: inherit;
}

td {
  padding-right: 10px;
}

.example-radio {
  display: flex;
  align-content: center;
  align-items: center;
  // height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-input-quantity {
  width: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}


