<div mat-dialog-title>
  <button
    class="logo position-absolute end-0"
    mat-icon-button
    color="ready"
    (click)="onClose()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div mat-dialog-content class="content">
    <form >
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Customer name</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions align="end" class="action">
  <button mat-raised-button color="primary">confirm</button>
</div>
