<div class="print-content" style="text-transform: uppercase">
  <div class="row align-items-start">
    <div class="col">
      <span>DATE : {{ jobData?.dpc_date | date : "dd LLLL yyyy" }}</span>
    </div>
    <div class="col">
      <h2>DESIGN PRODUCT CONTROL</h2>
    </div>
    <div class="col">
      <p>NO : {{ jobData?.dpcno }}</p>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-sm-6 col-md-8">
      <p>JOBSPEC : {{ jobData?.jobspec }}</p>
    </div>
    <div class="col-6 col-md-4">
      <p>GROUP : {{ jobData?.dpcgroup }}</p>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-sm-6 col-md-8">
      <p>CUSTOMER CODE : {{ jobData?.custcode }}</p>
    </div>
    <div class="col-6 col-md-4">
      <p>STATUS : {{ jobData?.status_order }}</p>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-sm-6 col-md-8">
      <p>PRODUCT NAME : {{ jobData?.productname }}</p>
    </div>
    <div class="col-6 col-md-4">
      <p>REQUEST BY : {{ jobData?.requestby }}</p>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-sm-6 col-md-8">
      <p>CUSTOMER CODE : {{ jobData?.custcode }}</p>
    </div>
    <div class="col-6 col-md-4">
      <p>STATUS : {{ jobData?.status_order }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>DUE DAT : {{ jobData?.due_date | date : "dd LLLL yyyy" }}</p>
    </div>
    <div class="col">
      <p>FINISH DATE : {{ jobData?.fdate | date : "dd LLLL yyyy" }}</p>
    </div>
    <div class="col">
      <p>BY : {{ jobData?.createdby }}</p>
    </div>
  </div>

  <div class="checkbox-container">
    <div class="row">
      <div class="col">
        <input type="checkbox" [checked]="jobData?.design === 'Y'" disabled />
        <label for="design">DESIGN</label>
        <p>QUANTITY : [ {{ jobData?.quantity }} ]</p>
      </div>
      <div class="col">
        <input
          type="checkbox"
          [checked]="jobData?.compos_aw === 'Y'"
          disabled
        />
        <label for="compos_aw">COMPOSING A/W</label>
      </div>
      <div class="col">
        <input type="checkbox" [checked]="jobData?.ready_aw === 'Y'" disabled />
        <label for="ready_aw">READY MADE A/W</label>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="checkbox-container">
    <div class="row">
      <div class="col">
        <input
          type="checkbox"
          [checked]="jobData?.urgent_aw === 'Y'"
          disabled
        />
        <label for="urgent_aw"
          >URSIGNT A/W {{ jobData?.urgent_aw === true ? "X" : "" }}</label
        >
      </div>

      <div class="col">
        <input
          type="checkbox"
          [checked]="jobData?.urgent_film === 'Y'"
          disabled
        />
        <label for="urgent_film"
          >URGENT FILM
          {{ jobData?.urgent_film === true ? "&#x2718;" : "" }}</label
        >
      </div>
      <div class="col">
        <input
          type="checkbox"
          [checked]="jobData?.urgent_normal === 'Y'"
          disabled
        />
        <label for="urgent_normal"
          >NORMAL {{ jobData?.urgent_normal === true ? "&#x2718;" : "" }}</label
        >
      </div>
      <div class="col">
        <input
          type="checkbox"
          [checked]="jobData?.cancel_by === 'cancel'"
          disabled
        />
        <label for="cancel_by"
          >CANCEL {{ jobData?.cancel_by === true ? "&#x2718;" : "" }}</label
        >
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <p>DATE :</p>
    </div>
    <div class="col">
      <p>CORRECTION DESCRIPTION :</p>
    </div>
    <div class="col col-lg-2">
      <p>FINISH :</p>
    </div>
    <div class="col col-lg-2">
      <p>DESIGN QTY :</p>
    </div>
    <div class="col col-lg-2">
      <p>OPID :</p>
    </div>
  </div>
</div>
