.example-spacer {
  flex: 1 1 auto;
}

.example-margin {
  margin: 0 10px;
}

.mat-toolbar {
  background-color: #143642; 
  color: #fff; 
}

.bold-text {
  font-weight: bold; 
}

.normal-text {
  font-weight: normal;
}

.mat-icon-button {
  color: #fff; 
}
