<div class="container-fluid page">
  <div class="page__box pt-4 p-3">
    <button mat-raised-button color="primary" (click)="openAddJob()">
      New Jobs
      <!-- <i class="material-icons">add_circle_outline</i> -->
    </button>
  </div>
  <div class="page_content shadow position-relative">
    <div class="page_content-data position-relative">
      <mat-accordion displayMode="flat">
        <!-- TODO LIST Add-->
        <mat-expansion-panel
          [disabled]="true"
          [expanded]="showView"
          [hidden]="!showView"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>VIEW JOB</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <app-print-page [jobData]="jobData"></app-print-page>
            <app-invoice (controls)="onControls($event)"></app-invoice>
          </div>
        </mat-expansion-panel>
        <!-- TODO LIST -->
        <mat-expansion-panel
          [disabled]="true"
          [expanded]="showlist"
          [hidden]="!showlist"
          hideToggle
        >
          <mat-expansion-panel-header>
            <h4>DPC Table</h4>
          </mat-expansion-panel-header>
          <div class="search-container">
            <div class="input-group">
              <input
                matInput
                type="text"
                id=""
                [(ngModel)]="searchKeyword"
                placeholder="Sesrch Jobspec"
                (keyup.enter)="searchJob()"
              />
              <button mat-icon-button (click)="searchJob()">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>

          <div>
            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="dpcno">
                <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.dpcno }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dpc_date">
                <mat-header-cell *matHeaderCellDef> Dpc Date </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.dpc_date | date : "dd/MM/yyyy" }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="jobspec">
                <mat-header-cell *matHeaderCellDef>
                  Job Spec
                  <!-- <mat-icon>filter_alt</mat-icon> -->
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.jobspec }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="custcode">
                <mat-header-cell *matHeaderCellDef> Customer</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.custcode }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="requestby">
                <mat-header-cell *matHeaderCellDef>
                  Request by
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.requestby }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef>Status Job</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.state">
                    <button
                      mat-button
                      color="primary"
                      
                    >
                      <!-- <mat-icon color="primary">more_horiz</mat-icon> -->
                      {{ element.state }}
                    </button>
                  </ng-container>
                </mat-cell>
              </ng-container>

              <ng-container ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon color="primary">more_horiz</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <!-- <button
                      mat-menu-item
                      (click)="onStatusUpdate(element.dpcno)"
                    >
                      <mat-icon>update</mat-icon>
                      <span>Update status</span>
                    </button> -->
                    <button mat-menu-item (click)="onEditJob(element.dpcno)">
                      <mat-icon>edit_note</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="onViewJob(element.dpcno)">
                      <mat-icon>print</mat-icon>
                      <span>Print</span>
                    </button>
                    <button mat-menu-item (click)="openCancelJobDialog(element.dpcno)">
                      <mat-icon color="warn">cancel</mat-icon>
                      <span>Cancel Job</span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>
            <div class="row">
              <div class="small text-end">
                <span class="pagelabel text-muted">
                  Page {{ page + " of " + pages }}
                </span>
                <button mat-icon-button (click)="onBack()" [disabled]="ifFirst">
                  <mat-icon>arrow_back_ios_new</mat-icon>
                </button>
                <button mat-icon-button (click)="onNext()" [disabled]="ifEnd">
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
